@charset "utf-8";
/* HCP Data Access styles */

.data-banner {
	background: url('/img/data-banner-bg.jpg') center left repeat-x #ccc;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 360px;
	padding: 30px;
	position: relative;
}
.data-banner p, .friendlyForm p {
	font-size: 16px !important;
	line-height: 1.4em !important;
	margin-bottom: 1em;
	position: relative;
}
.friendlyForm label {
	color:white;
	display:block;
	font-size: 12px !important;
}
.friendlyForm input[type=text], .friendlyForm input[type=password] {
	font-size: 14px !important;
	padding: 6px;
	width: 96%;
}
.data-banner h1 {
	font-size: 24px;
	margin-bottom: 1em;
}
.data-banner h2 {
	font-size: 20px;
	margin-bottom: 6px;
}
.data-banner p a, .data-banner p a:visited,
#user_info a {
	color: white !important;
	text-decoration:underline;
}
.data-banner p a:hover, 
#user_info a:hover {
	color:yellow !important;
}

.overlay-container { 
	position:relative;
	margin-bottom: 15px;
}
.overlay-container a { color: #fff; } 
.overlay-container.half {
	height: 230px;
}
.overlay-container.wide {
	height:99px;
}
.overlay-half {
	height: 230px;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	width: 400px;
}
.overlay-third { 
	height: 90px;
	overflow: hidden;
	padding: 0 10px;
	position: absolute; 
	width: 250px; 
}
.overlay-wide {
	height: 90px;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	width: 100%;
}
.overlay-container .dropCap {
	font-size: 56px;
	position: absolute; 
		top:15px; left:10px;
}
.overlay-container .stepText {
	margin-top:24px; 
	margin-left:48px;
	position: absolute; 
}
.overlay-mask {
	background-color: #000;
	border-radius: 15px;
	opacity: 0.4; 	filter: alpha(opacity=40); /* ie8 */
	position: absolute;
}
	.overlay-mask.third { width: 30%; height: 90px; } 
	.overlay-mask.half { width: 440px; height: 245px; }
	.overlay-mask.wide { width: 100%; height: 90px; }
p.form-submit {
	font-size:12px !important;
	position: absolute;
		bottom: 15px;
		right: 15px;
}
span.dut-accept { /* used in CINAB order form */ 
	display: inline-block;
	position: absolute; right: 7px; bottom: 7px;
}
p.request-access {
	background:#333; 
	border-radius:10px; 
	color:white; 
	opacity: 0.8; filter: alpha(opacity=80); /* ie8 */
	overflow: auto;
	margin-bottom:0; 
	padding:10px; 
}
.dut-accept input, .request-access input {	
	font-size: 16px !important;
	padding:6px 12px;
}
.request-access input {
	float:right;
}
.button-go {
	background: url('/img/arrow-right.png') 12px center no-repeat white;
	border: 1px solid #333;
	border-radius: 3px;
	display: block;
	position: absolute;
		right: 45px;
	margin-top: 15px; 
	padding: 6px 12px 6px 30px;
}
a.button-go, a.button-go:hover {
	text-decoration: none;
	color: #333;
}
.button-go:hover {
	cursor: pointer;
	opacity: .9; 	filter: alpha(opacity=90); /* ie8 */
}

#user_info {
	font-size: 12px !important;
	position:absolute; 
	top: 30px; 
	right: 30px;
}
#user_info input {
	font-size: 12px !important; 
	margin-left: 15px;
	padding: 4px 8px !important;
}

/* --- data sets --- */

.data-sets {
	font-family:Arial, Helvetica, sans-serif;
}
.data-sets h3 {
	background-color: #f0f0f0;
	border-bottom: 1px solid #06c;
	color:#06c;
	margin-bottom: 10px;
	padding: 6px;
	position: relative;
}
.data-sets .dut {
	background: url('/img/icon-docs.png') left center no-repeat;
	float: right;
	font-size: 11px;
	padding-left: 20px;
}
.data-sets .dut.accepted {
	background: url('/img/checkmark.png') left center no-repeat;
	padding-left: 24px;
}
.data-sets .releaseDate {
	font-size: 11px;
/*	position: absolute; 
	right:6px; */
}

.permission-needed {
	background:url('/img/data-banner-bg.jpg') center left no-repeat;
	margin:-10px 0 30px; 
	padding:30px;
}

.data-sets dl {
	min-height: 160px;
	margin-bottom: 2em;
	position: relative;
	width: 100%;
}
.data-sets dt {
	font-size:14px;
	position:absolute;
		top:0; left:100px;
	width:430px;
}
.data-sets dd {
	margin-left: 100px;
	padding-top: 18px;
}
.data-sets dd.dimage {
	position: absolute; 
		top: 0; left: 0 !important; 
	margin:0 !important;
	padding: 0 !important;
}
.data-sets dd.dimage img {
	padding-bottom: 6px;
}
.databox, .databox p, .databox li {
	font-size: 14px !important;
	margin-bottom: 1em;
}
.storefront-counter {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 40px;
    margin-bottom: 1em;
    padding: 10px;
    text-align: center;
}


ul.info {
	list-style-type:none !important;
}
ul.info li {
	background: url('/img/icon-info.png') left center no-repeat transparent;
	list-style-type: none !important;
	padding-left: 24px !important;
}

/* ---- masked content and modals --- */

#page-mask {
	background-color: #000000;
	display: none; 
	height: 100%;
	min-height: 1200px;
	position: fixed;
		top: 0;
		left: 0;
	opacity: 0.6;
		filter: alpha(opacity=60);
	width: 100%;
	z-index:999998;
}

.modal {
	background-color: #e0e0e0;
	border:1px solid #333;
	border-radius: 6px;
	  -moz-border-radius: 20px;
	display: none; 
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3;
	margin-left: -350px; /* half of 700px width */
	min-height: 440px;
	padding-bottom: 10px;
	position: fixed;
		top: 30px;
		left: 50%;
	width: 700px;
	z-index: 999999;
}
.modal .modal_content {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	max-height: 570px; 
	overflow-y: auto;
	overflow-x: hidden;
 	padding: 20px;
}
.modal p, .modal li {
	font-size: 15px;
	line-height: 1.3;
	margin-top: 1em;
}
.modal h1 { 
	font-size: 32px;
	font-weight: normal;
/*	margin-top: 30px; */
}
.modal ol {
    list-style: decimal;
    margin-left: 2em;
    margin-top: 1em;
}
.modal ul {
    list-style: inherit;
    margin-left: 2em;
    margin-top: 1em;
}
.modal .modal-title {
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	margin: 0; 
	padding: 6px; 
	position: relative; 
}
.modal .modal-title .modal-close {
	position: absolute; 
		top:6px; right: 6px;
}
.modal button, .modal input[type=button] {
    color: #333;
    padding: 6px 10px;
    text-transform: uppercase;
}
.inputWrapper {
	border-radius: 6px;
	margin-bottom:6px;
	padding:6px;	
	position: relative;
}
.inputWrapper.highlighted {
	background-color: #c0eeff;
}
.inputWrapper.error {
	background-color: #F99;	
}
.friendlyForm p.error {
	color: #c33;
	font-size: 12px !important; 
	font-weight: bold;
	margin-left: 6px;
}
.inputWrapper label {
	color: #333;
}
.inputWrapper input[type=text],.inputWrapper input[type=password] {
	width: 330px;
}
.inputWrapper .helptext {
	font-size: 11px;
	line-height: 14px;
	position: absolute;
		bottom: 18px; left: 425px;
}
.modal hr {
	margin: 1em 0;
}

/* --- Data Use Terms --- */

.dut-request {
	position: absolute;
	left: 540px;
	top: 3px;
}
.dut-request input {
	font-size:12;
	padding:4px 8px;
}
.dut-request input.request {
	background-color: #06c;
	border: 1px solid #333;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}
.dut-request input.request:hover {
	background-color: #39f;
	cursor: pointer;
}

.dutWrapper { 
	background-color: #f0f0f0;
	border-bottom: 1px solid #ccc;
	max-height: 350px;
	overflow-y: auto;
	margin-bottom: 1em;
	padding: 15px;
}
#content .dutWrapper ol {
	list-style-type: none;
	margin-left: 30px;
}
#content .dutWrapper ol ol {
	list-style-type: none;
}
.dutWrapper p, .dutWrapper li {
	font-size: 14px !important; 
	line-height: 1.3em;
	margin-bottom: 1em;
}
input.term-check { 
	float:left; 
	margin-left: -1.5em;
}

/* --- course registration --- */

.course-listing {
    padding: 10px 0;
}
.course-listing + .course-listing {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.course-listing button {
    padding: 6px 10px;
    text-transform: uppercase;
}

/* ---- layout ----- */

.column-third {
	padding: 0 2%;
	display: inline-block;
	vertical-align: top;
	width: 29%;
}
.column-third:first-of-type {
	padding-left: 0;
}
.column-third:last-of-type {
	padding-right: 0;
    margin-right: 0;
}
.column-third.centered {
	text-align: center;
}
.column-third img {
	max-width: 100%;
}
.column-third button {
	background: #f3f3f3 linear-gradient(#fff,#f3f3f3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	border: 1px solid #848484;
	color: #484848;
	display: block;
	margin-bottom: 1em;
	padding: 8px 0;
	text-transform: uppercase;
	width: 100%;
}
.column-third button:hover, .column-third a:hover {
	box-shadow: none;
	opacity: 0.9;
	text-decoration: none;
}

.well {
	background-color: #f3f3f3;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 6px;
}
#content-wide .well ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
#content-wide .well ul li {
	list-style-type: none;
	margin-bottom: 0;
}